li &rarr; <a href="http://github.com/chibicode/chibicode.github.com" target="_blank">Source</a>, <a href="http://feeds.feedburner.com/chibicode" target="_blank">RSS</a>, and <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" target="_blank">License</a>
li &rarr; <a href="https://twitter.com/intent/user?screen_name=chibicode" target="_blank">Twitter: @chibicode</a>, <a href="mailto:shu@chibicode.com">Email</a>, and <a href="https://plus.google.com/110325199858284431541?rel=author" target="_blank">G+</a>
