#container {
  @include outer-container;
  padding: 0 10px baseline(10);
  @include media($mobile) {
    padding-bottom: baseline(2);
  }
}

header{
  margin-top: baseline(2);
  margin-bottom: baseline(1);
  @include row();
  @include media($mobile) {
    margin-top: baseline(1);
  }
}

#header-col {
  @include span-columns(6);
  @include shift(2);
  @include media($mobile) {
    @include span-columns(1);
    @include shift(0);
  }
}

#logo {
  @include row();
}

#logo-link {
  text-decoration: none;
  &:hover span { text-decoration: underline; }
}

#blurb {
  margin-top: baseline(1);
}

footer {
  @include row();
  margin-top: baseline(1);
}

#footer-col {
  border-top: 1px solid #444;
  @include span-columns(6);
  @include shift(2);
  @include media($mobile) {
    @include span-columns(1);
    @include shift(0);
  }
}

section {
  @include row();
  margin-top: baseline(1);
}

nav ul, ul.no-bullet {
  list-style-type: none;
  margin-bottom: 0;
}
