::selection {
  background: #444;
  color: #fff;
}

::-moz-selection {
  background: #444;
  color: #fff;
}

body {
  font-family: "jaf-facitweb", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: baseline(1);
  color: #444;
  @include media($mobile) {
    font-size: 16px;
    line-height: baseline(1.2);
  }
}

img { max-width: 100%; }

a {
  color: #444;
  &:hover { text-decoration: none; }
}

h1, h2, p, ul {
  margin: 0 0 baseline(1);
  padding: 0;
}

h1, h2 { 
  font-weight: 300;
  font-size: 14px;
  line-height: baseline(1);
  @include media($mobile) {
    font-size: 16px;
    line-height: baseline(1.2);
  }
}

ul {
  list-style: circle;
}

blockquote {
  margin: 0;
  font-style: italic;
}
