- wrap_layout :layout do
  == partial "_partials/article", :locals => { :title =>  current_page.title, :url =>  current_page.url, :date => current_page.date, :content => current_page.body, :tweet =>  true }

