---
special: true
title: About Shu Uesugi
---

== partial "_partials/article", :locals => { :title => current_page.data.title, :url => current_page.url, :date => nil, :content => partial("_partials/about"), :tweet => false }
