---
special: true
title: Archive
---

/ #article-list-wrapper
/   input.search placeholder="Search for Article Name" type="search"
/   ul#article-list.list
/     - blog.articles.each do |article, i|
/       li
/         span.article-list-date
/           = article.date.strftime("%h%e, %Y")
/         span.article-list-title
/           == link_to article.title, "/" + article.slug + "/"
